{% assign nav_sections = site.data.navigation.nav_sections %}
{% assign nav_external_links = site.data.navigation.nav_external_links %}

<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav" role="navigation" aria-label="Main Navigation">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon">
          <svg viewBox="0 0 18 15" width="18px" height="15px">
            <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z"/>
            <path d="M18,7.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,8.969,0,8.304,0,7.484l0,0C0,6.665,0.665,6,1.484,6 h15.032C17.335,6,18,6.665,18,7.484L18,7.484z"/>
            <path d="M18,13.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,14.969,0,14.304,0,13.484l0,0 C0,12.665,0.665,12,1.484,12h15.032C17.335,12,18,12.665,18,13.484L18,13.484z"/>
          </svg>
        </span>
      </label>
      <div class="trigger">
        {% for item in nav_sections %}
          {% if item.subitems %}
            <div class="dropdown">
              <a class="page-link" href="#" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
              <div class="dropdown-content">
                {% for sub in item.subitems %}
                  <a class="page-link" href="{{ sub.url | relative_url }}">{{ sub.title }}</a>
                {% endfor %}
              </div>
            </div>
          {% else %}
            <a class="page-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
        {% if nav_external_links %}
          {% for ext in nav_external_links %}
            <a class="page-link" href="{{ ext.url }}" target="_blank" rel="noopener">{{ ext.title }}</a>
          {% endfor %}
        {% endif %}
      </div>
    </nav>
  </div>
</header> 